*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  list-style:none;
  text-decoration: none;
}
.container-menu{
  margin-bottom: 4vh;
  margin-left: 3vw;
}
input[type="checkbox"]{
  display: none;
}
input[type="checkbox"]:checked ~ nav{
  transform: translateX(270px);
}
.nav-menu{
  width:270px;
  position:absolute;
  left:-270px;
  transition: all 0.5s;
}

.nav-menu ul{
  position: absolute;
  top:8vh;
  width: 100%;
}
a{  
  height:30px;
  display: flex;
  align-items: center;
  text-align:center;
  padding-left:20px;
  color:white;
  text-transform: capitalize;
  background-color: #0C2A78;
}
a:hover{
  background-color: #3f5faf;
  color: gold;
}
.label img{
  width: 5vw;
}
.label{
  padding:0.1vw;
  position: absolute;
  z-index: 1;
}

.content{
  display: flex;
  justify-content: space-between;
  align-items:center;
  width: 100%;
}
.content p {
  margin-bottom: 1vh;
}
.result{
  width:30%;
  margin-right: 10%;
  padding:25px 0 20px 15px ;
  border:2px solid #3f5faf;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .content{
    flex-direction: column;
    height: 60vh;
   padding-top: 5vh;
   align-items: center;
  }
  .result{
    margin-top: 5vh;
    margin-right: 0rem;
    width:50vw;
  }
}