*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  list-style:none;
  text-decoration: none;
}

input[type="checkbox"]{
  display: none;
}
input[type="checkbox"]:checked ~ nav{
  transform: translateX(200px);
}
